@model IEnumerable<MovieDbLite.MVC.Models.AwardWinner>

@{
    ViewData["Title"] = "Index";
}

<h1>Award Winners</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Award)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardShowInstance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Award.AwardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardShowInstance.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmMember.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
