@model IEnumerable<MovieDbLite.MVC.Models.VwAwardWinnerInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Award Winners Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AwardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AwardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHosted)
            </td>
        </tr>
}
    </tbody>
</table>
