@model MovieDbLite.MVC.Models.AwardShowInstance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AwardShowInstance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardShow.ShowName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
